body {
    background-color: #1a1818;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: #e5e7eb;
    font-size: 18px;
}
h1 {
    font-size: 48px;
    font-style: italic;
    font-weight: 900;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #e0c28f;  
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #121111;
}
.navbar-left {
    font-weight: 600;
    justify-content: center;
}
ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
    gap: 15px;
}
.header-content {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin: 50px;
    flex: 1;
}
button {
    background-color: #1a1818;
    color: #f9faf8;
    font-size: 14px;
    border-radius: 6px;
    width: 80px;
    height: 40px;
    flex-shrink: 0;
    cursor:pointer;
}
img {
    width: 400px;
}
.title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 30px;
}
.gallery {
    display: flex; 
    justify-content: center;   
    gap: 30px;
    flex: 1;
    flex-wrap: wrap;
}
.card {
    max-width: 450px;
}